/* Separate from GlobalStyles because of next.js bug with fonts */

/* Josefina Sans */
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans.ttf') format('truetype');
  font-weight: 1 999;
  font-display: swap;
}
